{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href="{% static 'n3tvt/styleLoginAndSignUp.css' %}">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script type="text/javascript" src="{% static 'n3tvt/index.js' %}"></script>
</head>
<body>

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <div class="login-form">
        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <h1>N3TVT</h1>
            <div class="form-group">
                <label class="input-icon-label">
                    <input class="form-control" maxlength="254" name="username" id="id_username" placeholder="Username">
                    <i class="fa fa-user icon-right"></i>
                </label>
            </div>
            <div class="form-group log-status">
                <label class="input-icon-label">
                    <input class="form-control" type="password" name="password" id="id_password" placeholder="Password">
                    <i class="fa fa-lock icon-right"></i>
                </label>
            </div>

            {% if form.errors %}
                <span id="span_error" class="alert">Invalid Credentials</span>
            {% endif %}

            <div class="form-group">
                <a class="link" href="{% url 'password_reset' %}">Forgot password?</a>
            </div>

            <br>

            <div class="form-group">
                <button class="log-btn">Log in</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>

            <div class="form-group">
                <div class="text-center">
                    <label>Don't have an account?</label>
                    <a class="link-hover" href="{% url 'signup' %}">Sign up here!</a>
                </div>
            </div>
        </form>
    </div>

</body>
</html>