{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href="{% static 'n3tvt/styleResetPassword.css' %}">
</head>
<body>

    <header id="main-header">
		<a id="logo-header" href="#">
			<h3>N3TVT Administration</h3>
		</a>
		<nav>
			<ul>
				<li><a href="{% url 'login' %}">Log in</a></li>
			</ul>
		</nav>
	</header>

    <h2 class="h2-header">Password reset complete</h2>
    <div class="messages">
        <p> Your password has been set. You may go ahead and log in now. </p>
    </div>
</body>
</html>