{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href="{% static 'n3tvt/styleResetPassword.css' %}">
</head>
<body>

    <header id="main-header">
		<a id="logo-header" href="#">
			<h3>N3TVT Administration</h3>
		</a>
		<nav>
			<ul>
				<li><a href="{% url 'login' %}">Log in</a></li>
			</ul>
		</nav>
	</header>

    <h2 class="h2-header">Password reset sent</h2>
    <div class="messages">
        <p> We've emailed you instructions for setting your password, if an account exists with the email you
            entered. You should receive them shortly.</p>
        <p> If you don't receive an email, please make sure you've entered the address you registered with, and
            check your spam folder.</p>
    </div>
</body>
</html>