{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password reset</title>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href="{% static 'n3tvt/styleResetPassword.css' %}">
</head>
<body>

    <header id="main-header">
        <a id="logo-header" href="#">
            <h3>N3TVT Administration</h3>
        </a>
        <nav>
            <ul>
                <li><a href="{% url 'login' %}">Log in</a></li>
            </ul>
        </nav>
	</header>
    <div class="login-form">
        <h2>Change password</h2>
        <form method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            <div class="form-group">
                <label class="input-icon-label">
                    <input class="form-control" type="email" name="email" id="id_email" placeholder="Email">
                    <i class="fa fa-envelope icon-right"></i>
                </label>
            </div>
            <div class="form-group">
                <button class="log-btn">Submit</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </form>
    </div>
</body>
</html>