{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href="{% static 'n3tvt/styleResetPassword.css' %}">
</head>
<body>

    <header id="main-header">
		<a id="logo-header" href="#">
			<h3>N3TVT Administration</h3>
		</a>
		<nav>
			<ul>
				<li><a href="{% url 'login' %}">Log in</a></li>
			</ul>
		</nav>
	</header>

    {% if validlink %}
        <div class="login-form">
            <h2>Change password</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="input-icon-label">
                        <input class="form-control" type="password" name="new_password1" id="id_newpassword1" placeholder="New password">
                        <i class="fa fa-lock icon-right"></i>
                    </label>
                </div>
                {% if form.new_password1.errors %}
                    <span id="span_error_password" class="alert">{{ form.new_password1.errors }}</span>
                {% endif %}
                <div class="form-group">
                    <label class="input-icon-label">
                        <input class="form-control" type="password" name="new_password2" id="id_newpassword2" placeholder="New password confirmation">
                        <i class="fa fa-lock icon-right"></i>
                    </label>
                </div>
                {% if form.new_password2.errors %}
                    <span id="span_error_password" class="alert">{{ form.new_password2.errors }}</span>
                {% endif %}
                <div class="form-group">
                    <button class="log-btn">Change password</button>
                </div>
            </form>
        </div>
    {% else %}
        <h2 class="h2-header">Change password failed</h2>
        <div class="messages">
            <p> The password reset link was invalid, possibly because it has already been used. Please request
            a new password reset. </p>
        </div>
    {% endif %}
</body>
</html>