{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href="{% static 'n3tvt/styleLoginAndSignUp.css' %}">
</head>
<body>
    <div class="login-form">
        <form method="post" action=".">
            {% csrf_token %}
            <h1>Sign up here</h1>
            <div class="form-group">
                <label class="input-icon-label">
                    <input class="form-control" maxlength="254" name="username" id="id_username" placeholder="Username">
                    <i class="fa fa-user icon-right"></i>
                </label>
            </div>
            {% if form.username.errors %}
                <span id="span_error_username" class="alert">{{ form.username.errors }}</span>
            {% endif %}
            <div class="form-group">
                <label class="input-icon-label">
                    <input class="form-control" type="email" name="email" id="id_email" placeholder="Email">
                    <i class="fa fa-envelope icon-right"></i>
                </label>
            </div>
            {% if form.email.errors %}
                <span id="span_error_email" class="alert">{{ form.email.errors }}</span>
            {% endif %}
            <div class="form-group">
                <label class="input-icon-label">
                    <input class="form-control" type="password" name="password1" id="id_password1" placeholder="Password">
                    <i class="fa fa-lock icon-right"></i>
                </label>
            </div>
            {% if form.password1.errors %}
                <span id="span_error_password" class="alert">{{ form.password1.errors }}</span>
            {% endif %}
            <div class="form-group">
                <label class="input-icon-label">
                    <input class="form-control" type="password" name="password2" id="id_password2" placeholder="Password confirmation">
                    <i class="fa fa-lock icon-right"></i>
                </label>
            </div>
            {% if form.password2.errors %}
                <span id="span_error_password" class="alert">{{ form.password2.errors }}</span>
            {% endif %}
            <div class="form-group">
                <input type="submit" class="sign-btn" value="Sign up"/>
            </div>
            <div class="form-group">
                <div style="text-align: center">
                    <label>Have an account?</label>
                    <a class="link-hover" href="{% url 'login' %}">Log in!</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>