{% load staticfiles %}

<html>

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'n3tvt/jquery.tablesorter/themes/blue/style.css' %}" type="text/css"
          media="print, projection, screen"/>
    <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>


    <meta charset="utf-8"/>
    <title>N3TVT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        ul.nav li.dropdown:hover ul.dropdown-menu {
            display: block;
        }

        #projectsTable thead th {
            text-align: center;
        }

        #projectsTable tbody td {
            vertical-align: middle;
            text-align: center;
        }

        #projectsTable tbody td ul {
            list-style-type: none;
            padding-left: inherit;
        }

        #projectsTable tbody td a {
            margin: 0px 5px 0px 5px;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: #f9f9f9;
        }

        .customFixedHeader {
            width: 1719px;
        }

        .flexboxCenter {
            display: flex;
            justify-content: center;
        }

        .flexboxColumnFixedWidth {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .spaceColumns {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .footerMargin {
            margin-top: 40px;
        }

        .tableMargined {
            margin: 0px 100px 0px 100px;
        }

        .forceTablesorter {
            border-spacing: 2px;
            border-collapse: separate;
        }

    </style>
</head>


<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="container customFixedHeader">
        <div class="navbar-header">
            {#            <button type="button" class="navbar-toggle" data-toggle="collapse"#}
            {#                    data-target=".navbar-collapse">#}
            {#                <span class="sr-only">Toggle navigation</span>#}
            {#                <span class="icon-bar"></span>#}
            {#                <span class="icon-bar"></span>#}
            {#                <span class="icon-bar"></span>#}
            {#            </button>#}
            <a href="/n3tvt" class="navbar-brand">
                N3TVT
            </a>
        </div>

        <div class="navbar-collapse collapse">
            {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Create
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{% url 'createproject' %}?next={% url 'index' %}">
                                    Create Project
                                </a>
                            </li>
                            {#                                <li class="divider"></li>#}
                            {#                                <li>#}
                            {#                                    <a href="{% url 'index' %}">#}
                            {#                                        Registrar Domicilio#}
                            {#                                    </a>#}
                            {#                                </li>#}
                        </ul>
                    </li>
                </ul>
            {% endif %}

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        {{ request.user.username }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{% url 'password_reset' %}">
                                Change password
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'logout' %}?next={% url 'login' %}">
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

{% block content %}
{% endblock %}
{#{% block scripts %}#}
{#{% endblock %}#}

</body>


<footer>
    <div class="container footerMargin">
        <h5 class="text-center">Departamento de Computación</h5>
        <p class="text-center">Hugo Lorenzo García</p>
        <p class="text-center">© 2018</p>
    </div>
</footer>

</html>