{% extends 'base.html' %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="flexboxCenter">
            <div class="flexboxColumnFixedWidth">
                {{ project.as_p }}
                <div class="flexboxCenter spaceColumns">
                    {{ form.as_p }}
                </div>
                <div class="flexboxCenter spaceColumns">
                    <button type="submit" class="btn btn-primary">Create Project</button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}