{% block content %}
    <form method="post">
        {% csrf_token %}
        <h3>Are you sure you want to delete project {{ project.name }}?</h3>
        <button type="submit">Yes</button>
        <a href="{% url 'index' %}">No</a>
    </form>
{% endblock %}