{% block nav_details %}
  <ul id="nav_details">
    <li>{% block nav-packets %}<a href="{% url 'packets' project.id %}">Packets</a>{% endblock %}</li>
    <li>{% block nav-flows %}<a href="{% url 'flows' project.id %}">Flows</a>{% endblock %}</li>
    <li>{% block nav-topology %}<a href="{% url 'topology' project.id %}">Topology</a>{% endblock %}</li>
    <li>{% block nav-statistics %}<a href="{% url 'statistics' project.id %}">Statistics</a>{% endblock %}</li>
  </ul>
{% endblock %}