{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>N3TVT</title>
        <script type="text/javascript" src="{% static 'n3tvt/jquery.tablesorter/jquery-latest.js' %}"></script>
        <script type="text/javascript" src="{% static 'n3tvt/jquery.tablesorter/jquery.tablesorter.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'n3tvt/jquery.tablesorter/themes/blue/style.css' %}" type="text/css" media="print, projection, screen" />
        <script type="text/javascript">
            $(document).ready(function()
                {
                    $("#flowsTable").tablesorter();
                }
            );
        </script>
    </head>
    <body>
        {% block nav-flows %}
          <strong>Flows</strong>
            <table id="flowsTable" class="tablesorter">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Date First Seen</th>
                    <th>Src IP Address</th>
                    <th>Src Port</th>
                    <th>Dst IP Address</th>
                    <th>Dst Port</th>
                    <th>Duration</th>
                    <th>Protocol</th>
                    <th>No. packets</th>
                    <th>Bytes</th>
                </tr>
                </thead>
                <tbody>
                {% if flow_list %}
                    {% for flow in flow_list %}
                        <tr>
                            <td>{{ flow.flow_number }}</td>
                            <td>{{ flow.date_first_seen }}</td>
                            <td>{{ flow.src_ip_addr }}</td>
                            <td>{{ flow.src_port }}</td>
                            <td>{{ flow.dst_ip_addr }}</td>
                            <td>{{ flow.dst_port }}</td>
                            <td>{{ flow.duration }}</td>
                            <td>{{ flow.protocol }}</td>
                            <td>{{ flow.num_packets }}</td>
                            <td>{{ flow.bytes }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <h1>No flows found</h1>
                {% endif %}
                </tbody>
            </table>
            {% if flow_list.has_other_pages %}
              <ul class="pagination">
                {% if flow_list.has_previous %}
                  <li><a href="?page={{ flow_list.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in page_range %}
                  {% if flow_list.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if flow_list.has_next %}
                  <li><a href="?page={{ flow_list.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
        {% endblock %}
    </body>
</html>