{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>N3TVT</title>#}
{#</head>#}
{#<body>#}

{% extends 'base.html' %}

{% load static %}

{% block content %}
    <script type="text/javascript" src="{% static 'n3tvt/jquery.tablesorter/jquery.tablesorter.min.js' %}"></script>
    {#        <link rel="stylesheet" href="{% static 'n3tvt/jquery.tablesorter/themes/blue/style.css' %}" type="text/css" media="print, projection, screen" />#}
    <script type="text/javascript">
        $(document).ready(function () {
                $("#projectsTable").tablesorter();
            }
        );
    </script>
    {#        <p>Welcome, {{ user.username }}.</p>#}
    {#        <a href="{% url 'createproject' %}?next={% url 'index' %}"> New project</a>#}
    {#        <a href="{% url 'logout' %}?next={% url 'login' %}">Log out</a>#}

    <div class="tableMargined">
        <table id="projectsTable" class="tablesorter forceTablesorter">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Admin</th>
                <th>Users</th>
                <th>Actions</th>
            </tr>

            </thead>
            <tbody>
            {% if projects %}
                {% for project in projects %}
                    <tr>
                        <td class="centeredTableDescription"><a
                                href="{% url 'detail' project.id %}">{{ project.id }}</a></td>
                        <td class="centeredTableDescription">{{ project.name }}</td>
                        <td class="centeredTableDescription">{{ project.description }}</td>
                        <td class="centeredTableDescription">{{ project.admin.username }}</td>
                        <td class="centeredTableDescription">
                            <ul>
                                {% for user in project.users.all %}
                                    <li>
                                        {{ user.username }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="centeredTableDescription">
                            {% if request.user.username == project.admin.username %}
                                <a class="btn btn-primary" href="{% url 'editproject' project.id %}">Edit</a>
                            {% endif %}
                            <a class="btn btn-danger" href="{% url 'deleteproject' project.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <h1>No projects found</h1>
            {% endif %}
            </tbody>
        </table>
    </div>


{% endblock content %}

{#    {% block scripts %}#}
{#        <script type="text/javascript" src="{% static 'n3tvt/jquery.tablesorter/jquery-latest.js' %}"></script>#}
{#        <script type="text/javascript" src="{% static 'n3tvt/jquery.tablesorter/jquery.tablesorter.min.js' %}"></script>#}
{#        <link rel="stylesheet" href="{% static 'n3tvt/jquery.tablesorter/themes/blue/style.css' %}" type="text/css" media="print, projection, screen" />#}
{#        <script type="text/javascript">#}
{#            $(document).ready(function()#}
{#                {#}
{#                    $("#projectsTable").tablesorter();#}
{#                }#}
{#            );#}
{#        </script>#}
{#    {% endblock %}#}

{#</body>#}
{#</html>#}