{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>N3TVT</title>
    <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'n3tvt/jquery.tablesorter/jquery.tablesorter.min.js' %}"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'n3tvt/jquery.tablesorter/themes/blue/style.css' %}" type="text/css"
          media="print, projection, screen"/>
    <script type="text/javascript">
        $(document).ready(function () {
                $("#packetsTable").tablesorter();
            }
        );
    </script>

</head>
<body>
{% block nav-packets %}
    <strong class="nav-active">Packets</strong>
    <div class="tableMargined">

        <table id="packetsTable" class="tablesorter forceTablesorter">
            <thead>
            <tr>
                <th>No.</th>
                <th>Time</th>
                <th>Src Mac Address</th>
                <th>Dst Mac Address</th>
{#                <th>Type</th>#}
                <th>Src IP Address</th>
                <th>Dst IP Address</th>
                <th>Protocol</th>
                <th>Length</th>
                <th>Information</th>
            </tr>

            </thead>
            <tbody>
            {% if packet_list %}
                {% for packet in packet_list %}
                    <tr>
                        <td>{{ packet.packet_number }}</td>
                        <td>{{ packet.packet_time }}</td>
                        <td>{{ packet.mac_address_src }}</td>
                        <td>{{ packet.mac_address_dst }}</td>
{#                        <td>{{ packet.packet_type }}</td>#}
                        <td>{{ packet.ip_address_src|default_if_none:"" }}</td>
                        <td>{{ packet.ip_address_dst|default_if_none:"" }}</td>
                        <td>{{ packet.packet_protocol }}</td>
                        <td>{{ packet.packet_length }}</td>
                        <td>{{ packet.packet_info }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <h1>No packets found</h1>
            {% endif %}
            </tbody>
        </table>
    </div>
    {% if packet_list.has_other_pages %}
        <div class="flexboxCenter">

            <nav>
                <ul class="pagination">
                    {% if packet_list.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ packet_list.previous_page_number }}">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a disabled="true" href="#" class="page-link">&laquo;</a>
                        </li>
                    {% endif %}
                    {% for i in page_range %}
                        {% if packet_list.number == i %}
                            <li class="page-item active">
                                <a class="page-link" href="?page={{ i }}">{{ i }} <span class="sr-only">(current)</span></a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if packet_list.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ packet_list.next_page_number }}">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="sr-only">&raquo;</span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock %}
</body>
</html>