{#{% block nav-statistics %}#}
{#  <strong>Statistics</strong>#}
{#{% endblock %}#}

{#{% load static %}#}
{#<link media="all" href="{% static 'nvd3/build/nv.d3.css' %}" type="text/css" rel="stylesheet" />#}
{#<script type="text/javascript" src='{% static 'd3/d3.min.js' %}'></script>#}
{#<script type="text/javascript" src='{% static 'nvd3/build/nv.d3.min.js' %}'></script>#}

{% extends 'base.html' %}
{% block content %}
    {% load nvd3_tags %}
    <head>
        {% include_chart_jscss %}
        {% load_chart charttype chartdata chartcontainer extra %}
        {% load_chart charttype2 chartdata2 chartcontainer2 extra2 %}
    </head>
    <body>
        <div>
            <h2>Top N Protocols</h2>
            {% include_container chartcontainer 500 600 %}
            <br>
            <h2>Top N Hosts</h2>
            {% include_container chartcontainer2 500 600 %}
        </div>
    </body>
{% endblock content %}