{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>N3TVT</title>
        <script type="text/javascript" src="{% static 'n3tvt/vis-4.21.0/dist/vis.js' %}"></script>
        <link href="{% static 'n3tvt/vis-4.21.0/dist/vis.css' %}" rel="stylesheet" type="text/css" />

        <style type="text/css">
            #dinetwork {
                width: 1200px;
                height: 800px;
                border: 1px solid lightgray;
            }
        </style>

        <span style="display:none">
            <input type="text" name="nodesEdgesDot" id="nodesEdgesDot" value="{{ nodes_edges_dot }}"/>
        </span>

    </head>
    <body>
        {% block nav-topology %}
            <div id="dinetwork"></div>

            <script type="text/javascript">
                // provide data in the DOT language
                var nodesEdgesDot = document.getElementById('nodesEdgesDot').value;
                {#var DOTstring = 'dinetwork {10.1.1.12 -> 239.255.255.250; 10.1.1.10 -> 192.168.2.15; 192.168.2.15 -> 10.1.1.10; 10.1.1.12 -> 224.0.0.252; 10.1.1.10 -> 192.168.2.15; 10.1.1.10 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.10; 10.1.1.11 -> 192.168.2.15; 10.1.1.10 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.10; 10.1.1.11 -> 192.168.2.15; 10.1.1.11 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.11; 10.1.1.11 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.11; 10.1.1.10 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.10; 10.1.1.11 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.11; 10.1.1.11 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.11; 10.1.1.10 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.10; 10.1.1.11 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.11; 10.1.1.11 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.11; 10.1.1.10 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.10; 10.1.1.10 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.10; 10.1.1.100 -> 224.0.0.251; 10.1.1.22 -> 239.255.255.250; 10.1.1.11 -> 169.254.217.195; 10.1.1.11 -> 193.147.36.133; 10.1.1.12 -> 224.0.0.252; 10.1.1.12 -> 224.0.0.252; 10.1.1.10 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.10; 10.1.1.22 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.22; 10.1.1.10 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.10; 10.1.1.22 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.22; 10.1.1.22 -> 192.168.2.15; 10.1.1.10 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.10; 10.1.1.10 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.10; 10.1.1.11 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.11; 10.1.1.22 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.22; 10.1.1.22 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.22; 10.1.1.10 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.10; 10.1.1.22 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.22; 10.1.1.22 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.22; 10.1.1.22 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.22; 10.1.1.10 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.10; 10.1.1.11 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.11; 10.1.1.11 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.11; 10.1.1.11 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.11; 10.1.1.11 -> 74.125.206.127; 74.125.206.127 -> 10.1.1.11; 10.1.1.22 -> 169.254.217.195; 10.1.1.22 -> 193.147.36.133; 10.1.1.10 -> 224.0.0.252; 10.1.1.10 -> 192.168.2.15; 10.1.1.10 -> 192.168.2.15; 10.1.1.12 -> 224.0.0.252; 10.1.1.11 -> 193.147.36.133; 10.1.1.12 -> 10.1.1.255; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.22 -> 192.168.2.15; 10.1.1.10 -> 224.0.0.252; 10.1.1.10 -> 10.1.1.255; 10.1.1.11 -> 224.0.0.252; 10.1.1.11 -> 10.1.1.255; 10.1.1.11 -> 192.168.2.15; 10.1.1.11 -> 192.168.2.15; 10.1.1.11 -> 192.168.2.15; 10.1.1.11 -> 192.168.2.15; 10.1.1.11 -> 192.168.2.15; 10.1.1.11 -> 239.255.255.250; 10.1.1.11 -> 192.168.2.15; 10.1.1.12 -> 224.0.0.252; 10.1.1.10 -> 192.168.2.15; 10.1.1.10 -> 224.0.0.252; 10.1.1.10 -> 192.168.2.15; 10.1.1.10 -> 224.0.0.252; 10.1.1.10 -> 224.0.0.252; 10.1.1.10 -> 192.168.2.15; 10.1.1.11 -> 192.168.2.15; 10.1.1.10 -> 192.168.2.15; 10.1.1.10 -> 193.144.48.30; 10.1.1.10 -> 224.0.0.252; 10.1.1.10 -> 192.168.2.15; 10.1.1.10 -> 192.168.2.15; 10.1.1.10 -> 224.0.0.252; 10.1.1.10 -> 192.168.2.15; 10.1.1.10 -> 193.144.48.30; 10.1.1.10 -> 192.168.2.15; 10.1.1.100 -> 10.1.1.1; 10.1.1.100 -> 239.255.255.250; 10.1.1.100 -> 10.1.1.1; 10.1.1.10 -> 192.168.2.15; 10.1.1.10 -> 192.168.2.15; 10.1.1.10 -> 192.168.2.15; 10.1.1.10 -> 193.144.48.30; 10.1.1.10 -> 192.168.2.15; 10.1.1.10 -> 224.0.0.252; 10.1.1.10 -> 224.0.0.252; 10.1.1.10 -> 224.0.0.252; 10.1.1.10 -> 224.0.0.252; 10.1.1.10 -> 192.168.2.15; 10.1.1.10 -> 192.168.2.15; 10.1.1.10 -> 192.168.2.15; 10.1.1.10 -> 192.168.2.15; 10.1.1.12 -> 224.0.0.252; 10.1.1.10 -> 192.168.2.15; 10.1.1.12 -> 10.1.1.255; 10.1.1.22 -> 10.255.255.255; 10.1.1.10 -> 193.144.48.30; 10.1.1.10 -> 193.144.48.30; 10.1.1.10 -> 193.144.48.30; 10.1.1.10 -> 193.144.48.30; 10.1.1.10 -> 193.144.48.30; 10.1.1.10 -> 193.144.48.30; 10.1.1.10 -> 193.144.48.30; 10.1.1.10 -> 193.144.48.30; 10.1.1.10 -> 193.144.48.30; 10.1.1.10 -> 193.144.48.30; 10.1.1.10 -> 224.0.0.252; 10.1.1.10 -> 10.1.1.255; 10.1.1.10 -> 10.1.1.11; 10.1.1.11 -> 10.1.1.10; 10.1.1.10 -> 10.1.1.11; 10.1.1.11 -> 10.1.1.10; 10.1.1.10 -> 10.1.1.22; 10.1.1.22 -> 10.1.1.10; 10.1.1.10 -> 10.1.1.22; 10.1.1.22 -> 10.1.1.10; 10.1.1.10 -> 193.144.48.30; 10.1.1.12 -> 10.1.1.255; 10.1.1.100 -> 255.255.255.255; 10.1.1.100 -> 10.1.1.255; 10.1.1.11 -> 10.1.1.22; 10.1.1.22 -> 10.1.1.11; 10.1.1.10 -> 10.1.1.22; 10.1.1.22 -> 10.1.1.10; 10.1.1.11 -> 10.1.1.22; 10.1.1.22 -> 10.1.1.11; 10.1.1.10 -> 10.1.1.11; 10.1.1.11 -> 10.1.1.10; 157.56.52.30 -> 10.1.1.12; 10.1.1.10 -> 10.1.1.100; 10.1.1.10 -> 10.1.1.100; 10.1.1.10 -> 10.1.1.100; 10.1.1.10 -> 10.1.1.100; 10.1.1.10 -> 138.4.7.59; 10.1.1.10 -> 138.4.7.59; 10.1.1.10 -> 138.4.7.59; 10.1.1.10 -> 138.4.7.59; 10.1.1.11 -> 10.1.1.100; 10.1.1.11 -> 10.1.1.100; 10.1.1.11 -> 10.1.1.100; 10.1.1.11 -> 10.1.1.100; 10.1.1.11 -> 10.1.1.100; 10.1.1.11 -> 10.1.1.100; 10.1.1.22 -> 10.1.1.100; 10.1.1.22 -> 10.1.1.100; 10.1.1.22 -> 10.1.1.100; 10.1.1.22 -> 10.1.1.100; 10.1.1.22 -> 10.1.1.100; 10.1.1.22 -> 10.1.1.100; 10.1.1.11 -> 10.1.1.100; 10.1.1.11 -> 10.1.1.100; 10.1.1.11 -> 138.4.7.59; 10.1.1.11 -> 138.4.7.59; 10.1.1.11 -> 138.4.7.59; 10.1.1.11 -> 138.4.7.59; 10.1.1.11 -> 138.4.7.59; 10.1.1.22 -> 10.1.1.100; 10.1.1.22 -> 10.1.1.100; 10.1.1.22 -> 138.4.7.59; 10.1.1.22 -> 138.4.7.59; 10.1.1.22 -> 138.4.7.59; 10.1.1.22 -> 138.4.7.59; 10.1.1.22 -> 138.4.7.59; 10.1.1.10 -> 191.232.139.254; 10.1.1.22 -> 130.206.193.38; 10.1.1.11 -> 216.58.211.238; 10.1.1.11 -> 173.194.7.55; 10.1.1.11 -> 130.206.193.12; 10.1.1.11 -> 130.206.193.12; 10.1.1.11 -> 130.206.193.12; 10.1.1.11 -> 130.206.193.12; 10.1.1.11 -> 130.206.193.12; 10.1.1.11 -> 130.206.193.12; 10.1.1.11 -> 130.206.193.12; 10.1.1.11 -> 130.206.193.12; 10.1.1.11 -> 130.206.193.12; 10.1.1.11 -> 130.206.193.12; 10.1.1.11 -> 130.206.193.12; 10.1.1.11 -> 130.206.193.12; 10.1.1.11 -> 130.206.193.12; 10.1.1.11 -> 130.206.193.20; 10.1.1.10 -> 130.206.193.26; 10.1.1.10 -> 130.206.193.35; 10.1.1.10 -> 130.206.193.37; 10.1.1.10 -> 130.206.193.37; 91.190.218.54 -> 10.1.1.12; 10.1.1.10 -> 216.58.211.238; 10.1.1.10 -> 74.125.218.117; 10.1.1.10 -> 74.125.218.117; 10.1.1.10 -> 74.125.218.117; 10.1.1.10 -> 130.206.193.15; 10.1.1.10 -> 130.206.193.15; 10.1.1.10 -> 130.206.193.15; 10.1.1.10 -> 216.58.211.225; 10.1.1.10 -> 130.206.193.38; 10.1.1.10 -> 130.206.193.38; 10.1.1.10 -> 64.233.166.106; 10.1.1.10 -> 64.233.166.106; 10.1.1.10 -> 216.58.211.234; 10.1.1.10 -> 216.58.211.234; 10.1.1.10 -> 130.206.193.26; 10.1.1.10 -> 130.206.193.24; 10.1.1.10 -> 64.233.166.106; 10.1.1.10 -> 130.206.193.38; 10.1.1.10 -> 64.233.166.106; 10.1.1.10 -> 130.206.193.20; 10.1.1.10 -> 130.206.193.37; 10.1.1.10 -> 130.206.193.37; 10.1.1.10 -> 74.125.195.95; 10.1.1.10 -> 130.206.193.35; 10.1.1.10 -> 130.206.193.35; 10.1.1.10 -> 216.58.211.232; 10.1.1.10 -> 216.58.210.134; 10.1.1.10 -> 216.58.211.205; 10.1.1.10 -> 216.58.211.205; 10.1.1.10 -> 216.58.211.205; 10.1.1.10 -> 216.58.210.134; 10.1.1.10 -> 216.58.211.225; 64.235.151.30 -> 10.1.1.12}';#}
                var DOTstring = 'dinetwork {' + nodesEdgesDot +'}';
                var parsedData = vis.network.convertDot(DOTstring);

                // create a network
                var container = document.getElementById('dinetwork');

                var data = {
                  nodes: parsedData.nodes,
                  edges: parsedData.edges
                }

                var options = {}

                // create a network
                var network = new vis.Network(container, data, options);

                network.on("stabilizationIterationsDone", function () {
                    network.setOptions( { physics: false } );
                });
            </script>
        {% endblock %}
    </body>
</html>