@import url(https://fonts.googleapis.com/css?family=Vibur);

/*div, span, p{*/
    /*border: 1px solid red;*/
/*}*/

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: arial, serif;
}

body {
    background: #DFDFDF;
}

h1 {
    color: #ccc;
    text-align: center;
    font-family: 'Vibur', cursive;
    font-size: 50px;
}

.login-form {
    width: 350px;
    padding: 40px 30px;
    background: #eee;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.form-group {
    position: relative;
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    height: 50px;
    padding: 5px 7px 5px 15px;
    background: #fff;
    /*color: #10CE88;*/
    border: 2px solid #ddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.form-control:focus, .form-control:focus + .fa {
    /*border-color: #10CE88;*/
    /*color: #10CE88;*/
}

.form-group .fa {
    position: absolute;
    right: 15px;
    top: 17px;
    color: #999;
}

.log-status.wrong-entry {
    -moz-animation: wrong-log 0.3s;
    -webkit-animation: wrong-log 0.3s;
    animation: wrong-log 0.3s;
}

.log-status.wrong-entry .form-control, .wrong-entry .form-control + .fa {
    border-color: #ed1c24;
    color: #ed1c24;
}

.log-btn {
    background: #3897F0;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    height: 50px;
    color: #fff;
    text-decoration: none;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.sign-btn {
    background: mediumseagreen;
    margin-top: 5px;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    height: 50px;
    color: #fff;
    text-decoration: none;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.link {
    text-decoration: none;
    color: #666;
    float: right;
    font-size: 12px;
    margin-bottom: 15px;
}

.link:hover {
    text-decoration: underline;
    color: #8C918F;
}

.alert {
    display: inline-block;
    font-size: 12px;
    color: #f00;
    float: left;
}

.input-icon-label {
    position: relative;
}

.input-icon-label .icon-right {
    color: #999;
    top: 2px;
    right: 15px;
    position: absolute;
}

@-moz-keyframes wrong-log {
    0%, 100% {
        left: 0;
    }
    20%, 60% {
        left: 15px;
    }
    40%, 80% {
        left: -15px;
    }
}

@-webkit-keyframes wrong-log {
    0%, 100% {
        left: 0;
    }
    20%, 60% {
        left: 15px;
    }
    40%, 80% {
        left: -15px;
    }
}

@keyframes wrong-log {
    0%, 100% {
        left: 0;
    }
    20%, 60% {
        left: 15px;
    }
    40%, 80% {
        left: -15px;
    }
}
