@import url(https://fonts.googleapis.com/css?family=Vibur);

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: arial, serif;
}

body {
    background: #DFDFDF;
}

h1 {
    color: #ccc;
    text-align: center;
    font-family: 'Vibur', cursive;
    font-size: 50px;
}

h2 {
    color: #666666;
    font-family: 'Raleway',sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    margin: 0 0 24px;
}

h3 {
    color: #ccc;
    /*text-align: center;*/
    font-family: 'Vibur', cursive;
    font-size: 40px;
    font-weight: 500;
    line-height: 0;
}

.h2-header {
    position: absolute; top: 90px; left: 20px;
}

.messages {
    position: absolute; top: 120px; left: 20px;
}

.login-form {
    width: 350px;
    padding: 40px 30px;
    background: #eee;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.form-group {
    position: relative;
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    height: 50px;
    padding: 5px 7px 5px 15px;
    background: #fff;
    border: 2px solid #ddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.log-btn {
    background: #3897F0;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    height: 50px;
    color: #fff;
    text-decoration: none;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.form-group .fa {
    position: absolute;
    right: 15px;
    top: 17px;
    color: #999;
}

.alert {
    display: inline-block;
    font-size: 12px;
    color: #f00;
    float: left;
}

.input-icon-label {
    position: relative;
}

.input-icon-label .icon-right {
    color: #999;
    top: 2px;
    right: 15px;
    position: absolute;
}

/************
//-------------------------------
// CABECERA
//-------------------------------
************/
#main-header {
    background: #999;
    color: white;
    height: 80px;

    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}
    #main-header a {
        color: white;
    }


/*
 * Logo
 */
#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
    #logo-header:hover {
        color: #0b76a6;
    }

    #logo-header .site-name {
        display: block;
        font-weight: 700;
        font-size: 1.2em;
    }

    #logo-header .site-desc {
        display: block;
        font-weight: 300;
        font-size: 0.8em;
        color: #999;
    }


/*
 * Navegación
 */
nav {
    float: right;
}
    nav ul {
        margin: 0;
        list-style: none;
        padding: 0 20px 0 0;
    }

        nav ul li {
            display: inline-block;
            line-height: 80px;
        }

            nav ul li a {
                display: block;
                padding: 0 10px;
                text-decoration: none;
            }

                nav ul li a:hover {
                    background: #0b76a6;
                }